
/* Landing page elements */

/* header elements*/
html{
    height: 100%;
    width: 100%;
    font-family: 'Poppins';
    scroll-behavior: smooth;
}

body{
    height: 100%;
    width: 100%;
    background-color: #FCF5FF;
    font-family: 'Nunito';
    font-weight: normal !important;
}




/* navbar elements*/
.navbar{
    box-shadow: none;
}

.nav-link{
    color: #1C0025;
    font-weight: 600;
    margin-right: 10px;
}


.nav-link:hover{
    color: #45025c ;
}

.btn-signin{
    background:linear-gradient(135deg, #250131 0%,#1C0025 100%);
    color: #ffffff;
    font-family: 'Poppins';
}

.btn-signin:hover{
    color: #ffffff;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(211, 166, 242, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }


/* landing page elements */

.img-land{
    padding-top: 30px;
}

.main-land{
    padding-top: 140px;
    color: #1C0025;
    font-weight: 800;
    font-size: 40px;
    font-family: 'Poppins';
}

.sub-land{
    color: #1C0025;
    font-weight: 300;
    font-size: 20px;
    font-family: 'Poppins';
    padding-top: 20px;
}

.btn-start{
    background: linear-gradient(135deg, #250131 0%,#1C0025 100%);
    color: #ffffff;
    font-family: 'Poppins';
    margin-left: 0px;
    margin-top: 20px;
}

.btn-start:hover{
    color: #ffffff;
}


/* Landing page elments ends */



/* Dashboard elements start */


.navbar-dash{
    background-color: #ffffff !important;   /* #14021a */
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.navbar-dash-container{
    
    font-family: 'Poppins';
}
.username-navdash{
    font-family: 'Poppins';
    font-weight: 400;
    color: #14021a !important;
}

/* subnav */
.subnav{
    margin-top: 8px;
    z-index: 1;
}

.btn-addreview{
    padding: 5px;
    background-color: #a155dc;
    text-transform: none;
    color: #ffffff;
}

.btn-addreview:hover{
    color: #f5d9ff;
}

.nav-filter{
    font-weight: 600;
    font-family: 'Nunito' !important;
    color: #ffffff;
}

.nav-filter:hover{
    color: #f5d9ff;
}

.user-details-plane{
    padding-top: 30px;
}

/* subnav ends */

/* Dashboard review starts */

.review-contents{
    padding-top: 10px;

}

.card-company{
    font-weight: 700 !important;
    font-size: 20px;
}

.card-position{
    font-weight: 500 !important;
    font-size: 16px;
    line-height: 1;
    padding-bottom: 0px !important; 
    margin-bottom: 10px !important;
}

.card-contrib-by{
    font-weight: 400 !important;
    font-size: 16px;
    line-height: 1;
    padding-bottom: 0px !important; 
    margin-bottom: 10px !important;
}

.card-batch{
    font-weight: 400 !important;
    font-size: 16px;
    line-height: 1;
    margin-bottom: 0px;
}
.card-rating{
    font-weight: 400 !important;
    font-size: 16px;
    line-height: 1;
    margin-bottom: 10px;
}

.expshare{
    width: 100%;
    height: 250px !important;
}

.close-btn-msg{
    position:absolute;
    bottom:0; 
    right:0px; 
    padding:2px; 
    background-color: #AB3DFA; 
    color: #ffffff;
}

.review-card{
    border-radius: 8px;
}

.close-btn-msg:hover{
    color: #fcf5ff;
}
.ql-editor strong{
    font-weight:bold  !important;
}

/* Dashboard review components ends */


/* Dashboard elements ends */


.team-top{
    margin-top: 50px;
}

.main-team{
    padding-top: 20px;
    font-weight: 800;
    text-align: center;
    font-family: 'Poppins';
    font-size: 35px;
}

.sub-team{
    font-weight: 400;
    text-align: center;
    font-family: 'Poppins';
    padding-top: 10px;
    font-size: 20px;
}


/* 404 elements */

.message-404{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    padding-top: 20px;
}


.message-404-sub{
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
    padding-top: 10px;
}

/* 404 elements ends */

/* features starts */

.features-top{
    padding-top: 160px;
}

.features-card{
    margin-bottom: 30px;
    box-shadow: 1px 1px 8px   #a155dc;
    cursor: pointer;
}

.img-features{
    width: 80%; 
    padding-top: 80px;
}

/* features ends */

/* Experience starts */
.exp-main-label{
    font-weight: 700;
    font-size: 20px;
}
.review-descripton{
    margin-top: 50px;
    font-size: 18px;
}
.bypass-a{ 
    color: inherit !important; 
    text-decoration: none;
} 
/* Experience Ends */

/* about starts */

.about-top-row{
    padding-top: 120px;
}

.about-card{
    background-color: #f5d9ff;
}

.slit-imp{
    text-align: center;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 25px;
    color: #ffffff;
}

.slit-imp-sec{
    text-align: center;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
}

.edit-btns{
    margin: 0px !important;
    margin-right: 10px !important;
    margin-top: 10px !important;
    text-transform: none;
    font-size: 15px;
    font-weight: 600;
    padding: 5px 15px 5px 15px;
}

#msg-box-ajax{
    display: none;
}

.question{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
    font-family: "Poppins";
}
.answer{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 5px;
    font-family: "Poppins";
}

.faq{
    font-size: 25px;
    font-weight: 800;
    font-family: "Poppins";
    margin-bottom: 20px;
}

/* moblile optimizations */

@media only screen and (max-width: 576px) {
    .main-land{
        padding-top: 30px;
    }
    .main-btn-center{
        text-align: center;
    }
    .main-land{
        text-align: center;
    }
    .sub-land{
        text-align: center;
    }
    .userline-landing{
        margin-left: auto;
        margin-right: auto;
    }
    .navbar-dash{
        margin-left: 0px;
        margin-right: 0px;
    }
    .navbar-dash-container{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .features-top{
        padding-top: 30px;
    }
    .img-features{
        padding-top: 10px;
    }
    .about-top-row{
        padding-top: 30px;
    }
    .about-card{
        margin-bottom: 30px;
    }
    .slit-imp-sec{
        padding-bottom: 50px;
    }
    .faq{
        font-size: 22px;
    }
  }
