{% extends 'base.html' %}


{% block title %}
About
{% endblock %}


{% block contents %}
<div class="container">
    <div class="row faq" style="margin-top: 50px;">
        <div class="col-md-2"></div>
        <div class="col-md-8">Frequently asked Questions.</div>
        <div class="col-md-2"></div>
    </div>
    <div class="row" style=" margin-bottom: 50px;">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="question">
                Why yet another platform for interview questions?
            </div>
            <div class="answer">
                We know the internet is filled with the interview experiences and stuffs related to it but still
                a lots of universities maintains a personal repository of the interviewing experiences of their students
                it not only helps to figure out the companies visiting on campus, also it helps where you need to go a mile ahead 
                with respect to the normal college curriculum and how your peers approached companies, off campus.
            </div>
            <div class="question">
                Is it ethical/legal to share interview questions?
            </div>
            <div class="answer">
                Yes and no. It's generally a yes for most of the companies except a few where you need to sign a bond for not doing so.
                However signing a NDA for interview questions is extremely rare.
            </div>
            <div class="question">
                Can I share an experience on behalf of my friend?
            </div>
            <div class="answer">
                Technically you can do so. But we highly encourage not doing that because, the chances of errors increases and thereby the quality of 
                the content decreases.
            </div>
            <div class="question">
                Why should I care about it at all?
            </div>
            <div class="answer">
                You're not obliged to. But surely your positive contributions can help your peers and juniors a lot. Create good karma 😃.
            </div>
            <div class="question">
                Where should I report a review which I found inappropriate?
            </div>
            <div class="answer">
                Mail your grievances to <a href="mailto:oyehimanshoo@gmail.com">Himanshu</a>.
            </div>
            <div class="question">
                How can I contribute?
            </div>
            <div class="answer">
                You can contribute just by sharing your experiences on the platform. However, if you intend to contribute to development,
                maintenance you can contact <a href="mailto:oyehimanshoo@gmail.com">Himanshu</a>. The backend is majorly written in Python
                and we use postgreSQL for storage. Also, we use quiet a few cloud (Azure) services and have plans to set up a cahing mechanism using 
                redis. If you have knowledge of any of these please do contact.
            </div>

        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{% endblock %}