<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interq |{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800;900&display=swap" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href="/static/css/mdb.min.css">
    <!-- Your custom styles (optional) -->
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">
    <link rel="icon" type="image/ico" href="/static/img/slit.ico" />
</head>

<body>

    <!-- Navbar start -->

    <div class="container navbar-dash-container">
        <nav class="navbar navbar-expand-lg navbar-dash">
            <a class="navbar-brand" href="#"><img src="/static/img/interque.png" width="150"
                    style="padding-top: 10px; padding-bottom: 10px;" alt=""></a>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item avatar">
                    <a class="nav-link p-0" href="#">
                        <img src="{% block userpic %} {% endblock %}" id="profileImage" class="rounded-circle z-depth-0"
                            height="35">
                    </a>
                </li>

            </ul>
            <div class="dropdown">
                <a style="color: #14021a !important;" class="dropdown-toggle" href="#" role="button"
                    id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="username-navdash">{% block username %} {% endblock %}</span>
                </a>

                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i>
                        Logout</a>
                </div>
            </div>
        </nav>
    </div>
    <!-- Navbar ends -->

    {% block content %}
    
    {% endblock %}



    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="/static/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="/static/js/mdb.min.js"></script>
    <!-- custom scripts -->
    <script type="text/javascript" src="/static/js/scripts.js"></script>
    <script src="https://use.fontawesome.com/fbbdea0b20.js"></script>

    
</body>

</html>