{% extends 'base.html' %}

{% block title %}Team{% endblock %}

{% block contents %}

<div class="container">
    <div class="main-team">Hi there! glad to see you.</div>
    <div class="sub-team">Just doing what we're supposed to. No magic. </div>
    <div class="row team-top">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <div class="card" style="margin-bottom: 20px;">
                <div class="card-body">
                    <p style="text-align: center;"><img class="rounded-circle img-fluid" style="max-width: 150px;" src="/static/img/ak.jpeg"></p>
                    <h3 class="card-title" style="text-align: center; font-weight: 600; font-family: 'Poppins'; margin-bottom: 5px !important;">Ankit</h3>
                    <a href="http://unkitkr.xyz"><h6 class="card-title" style="text-align: center; font-weight: 400; font-family: 'Poppins';">@unkitkr</h6></a>
                    <h5 class="card-title" style="text-align: center; font-weight: 400; font-family: 'Poppins';">Engineering</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card"  style="margin-bottom: 20px;">
                <div class="card-body">
                    <p style="text-align: center;"><img class="rounded-circle img-fluid" style="max-width: 150px;" src="/static/img/hc.webp"></p>
                    <h3 class="card-title" style="text-align: center; font-weight: 600; font-family: 'Poppins'; margin-bottom: 5px !important;">Himanshu</h3>
                    <a href="https://twitter.com/oyehimanshoo?lang=en"><h6 class="card-title" style="text-align: center; font-weight: 400; font-family: 'Poppins';">@Oyehimanshoo</h6></a>
                    <h5 class="card-title" style="text-align: center; font-weight: 400; font-family: 'Poppins';">Design</h5>
                </div>
            </div>
        </div> 
        <div class="col-md-2"></div>
    </div>
</div>

{% endblock %}